
.header_section_menu{
height: 240px;

}

.header_section{
    height: 75px;

}

.header {
    @include flex(center,row,center);
    background: $colour-white;
    height: 10rem;
    margin-top: 2%;
    width: 100%;  
    height: 15%; 
    &__logo {
        z-index: 0;
        display: flex;
        flex-direction: row;
        font-size: 7rem;
        color: $colour-secondary;
        margin: 0;
        width: 40%;
        height: 70%;
        &__responsive{
            
            width: 100%;
            height: 100%;

        }
    }
}
.height {
    height: 90%;


}

.header_location {
    background: $colour-gray-light;
    height: 10rem;
    display: flex;
    flex-direction: row;
    width: 100%;  
    height: 15%; 
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    &__logo {
        display: flex;
        flex-direction: column;
        font-size: 7rem;
        color: $colour-secondary;
        @include heading-shadow($colour-white);
        margin: 0;
        width: 40%;
        height: 70%;
        &__responsive{
            
            width: 100%;
            height: 100%;

        }
    }
}

.header_info {
    background: $colour-gray-ligther;
    height: 10rem;
    display: flex;
    flex-direction: column;
    width: 100%;  
    height: 70%; 
    justify-content:space-around;
    align-items: center;
    &__p1{
        font-weight: bold;
        color: black;       

    }
    &__p {
        text-align: center;
        font-family: "Roboto", sans-serif;;
        margin: 0 8% 0 8%;
    }
}

.section_restaurants{
    display: flex;
    flex-direction: column;
    height: 1000px;
    background-color:$colour-gray-light ;

}
.menu_restaurant_height{
    height: 1280px;
}

.section_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: $colour-footer; 
    height: 160px;
    line-height: 1.75;
}
.back {
 @include small-images;
 position:relative;
 right: 20%;
    &:active + loading__container__ball{
        display: block;
        animation: loading .6s ease-in-out 5 alternate;
        animation-delay: 0s;
        
    }

}
@keyframes loading {
	0% {
		transform: translateX(-15px);
	}
	50% {
		transform: translateX(15px);
	}
	100% {
		transform: translateX(-15px);
	}
}
.heart1 {
    z-index: 2;
    @include hearimg;
    &:hover + .heart{
        z-index: 2;
        color: $colour-primary;
    }
    &:active + .heart{
        color: $colour-primary;
      }
  }
  .heart {
    z-index: 1;
    color: white;
    @include hearimg
  }