.explore_btn {
    @include btn(50%,22%);

}
.order_btn2 {
  @include btn(50%,100%)

}

.btn_menu {
    @include btnmenu($colour-gray-light,70%,96%);

}

.btn_menu2 {
  
  display: grid;
  grid-template-areas: "title title price check"
                       "description description price check";
  row-gap: 0;
  @include btn_full_menu($colour-white,60px,100%);
  grid-template-columns: 40% 40% 20% 0%;
  animation: all 600s ease-in-out both;
  //display: none;
    &__menu_title{
      //padding-top: 5%;
      margin-top: 1% ;
      margin-left: 5% ;
      //width: 75% ;
      height: 20px;
      //width: 248px;
      grid-area: title;
      color: black;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all 600ms cubic-bezier(0.9, 0, 0.2, 1);
    }
    &__secondary_text{
      //padding-bottom: 14%;
      margin-left: 5% ;
      //width: 75%;
      height: 20px;
      //width: 248px;
      grid-area: description;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all 600ms cubic-bezier(0.9, 0, 0.2, 1);


    }
    &__price_text{
    //margin-top: 20%;
    //width: 78px;
    height: 100%;
    grid-area: price;
    display: flex;
    position: relative;
    text-align: left;
    justify-content:center;
    align-items: center;
    //align-content:space-around;
    //transition: all 600ms cubic-bezier(0.9, 0, 0.2, 1);
    transition: all 600ms cubic-bezier(0.9, 0, 0.2, 1);
      
    }
    &__check_buttom{
      grid-area: check;
      //flex-basis: auto;
      //margin-left: 1px;
      //width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      text-align:center;
      justify-content:center;
      align-content:center;
      position: relative;
      //width: 0.1%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-style: none;
      color: $colour-black;
      background: $colour-item;
      //right: 5%;
      /*overflow: hidden;
      visibility: hidden;
      //background-color: transparent;*/
      
      transform-origin:  100% 50%;
      transform : scaleX(0);
      transition: transform 600ms ease-in-out;
      //transition: width 500ms ease-in-out;
        &__check_img {
        height: unset;
        background-image: url("../images/icons/check_mark4.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        
        /*transform: rotate(90deg);
        transition: transform 500ms ease-in-out;*/
        transition: transform 600ms ease-in;
        }

    }
      &:hover {
        grid-template-columns: 38% 38% 10% 14%;
       
        .btn_menu2__check_buttom {
          visibility:visible;
          transform: scaleX(1);
          .btn_menu2__check_buttom__check_img {
          transform: rotate(360deg);
          } 
        }

        
        
      }
      
  }


/*
.dropdown_menu-4{
  for num in (1.3)
     .dropdown_item-{num}  
       transform-origin: top center
       animation: scaleZ 300ms (num * 60ms) ease-in-out forwards


@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  80% {
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
}*/

/*.btn_check {
  //display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  //width: 0.1%;
  width: 12.5%;
  height: 6.25%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none;
  color: $colour-black;
  background: $colour-item;
  right: 5%;
  /*overflow: hidden;
  visibility: hidden;
  //background-color: transparent;
  transform-origin:  100% 50%;
  transform : scaleX(1);
  transition: transform 500ms ease-in-out;
  //transition: width 500ms ease-in-out;

}

.check {
    height: unset;
    background-image: url("../images/icons/check_mark3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}*/
.normal_text{
  //border: blue solid;
  width: 70%;
  font-weight: normal;
  transition: width 5s ease-in-out;

    
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;

}
.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
  }

.icon_menu {
    margin-left: 8%;
  }
  
 