.btn {
    @include btn

}
.btn2 {
  @include btn

}

.btn_menu {
    @include btnmenu($colour-gray-light,70%,96%);

}



.btn_menu2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include btnmenu($colour-white,100%,100%);
  &__menu_title{
    margin-left: 5% ;
    width: 75% ;
    height: 50% ;
    flex-grow: 1;

  }
  &__secondary_text{
    margin-left: 5% ;
    width: 75%;
    height: 50%;
    flex-grow: 1;

  }
  &__price_text{
    width: 10%;
    height: 50%;
    text-align: right;
    flex-grow: 2;
    transition: width 500ms ease-in-out;
  }
  &__check_buttom{
    flex-basis: auto;
    width: 20%;
    height: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    //width: 0.1%;
    width: 12.5%;
    height: 6.25%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    color: $colour-black;
    background: $colour-item;
    right: 5%;
    /*overflow: hidden;
    visibility: hidden;
    //background-color: transparent;*/
    transform-origin:  100% 50%;
    transform : scaleX(0);
    transition: transform 500ms ease-in-out;
    //transition: width 500ms ease-in-out;
      &__check_img {
      height: unset;
      background-image: url("../images/icons/check_mark3.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 50%;
      
      /*transform: rotate(90deg);
      transition: transform 500ms ease-in-out;*/
      transition: transform 500ms ease-in-out;
      }

  }
  &:hover > .btn_menu2__check_buttom {
    //background-color: black;
  
    transform: scaleX(1);
   
      .btn_menu2__check_buttom__check_img {
      transform: rotate(360deg);
    } 
  }
}

.btn_check {
  //display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  //width: 0.1%;
  width: 12.5%;
  height: 6.25%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none;
  color: $colour-black;
  background: $colour-item;
  right: 5%;
  /*overflow: hidden;
  visibility: hidden;
  //background-color: transparent;*/
  transform-origin:  100% 50%;
  transform : scaleX(0);
  transition: transform 500ms ease-in-out;
  //transition: width 500ms ease-in-out;

}

.check {
    height: unset;
    background-image: url("../images/icons/check_mark3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 50%;
    
  /*transform: rotate(90deg);
  transition: transform 500ms ease-in-out;*/
  transition: transform 500ms ease-in-out;
}
.normal_text{
  //border: blue solid;
  width: 70%;
  font-weight: normal;
  transition: width 5s ease-in-out;

    
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;

}

.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
  }

.icon_menu {
    margin-left: 8%;
  }
 