*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
div.loading-container__loading::after{
    box-sizing: unset;
}
button.explore_btn::after{
    content: 'Explore our restaurants';
  
}
button.order_btn2::after{
    content: 'Order';
  
}
