body {
    background-color: $colour-white;
    color: $colour-gray;
    font-family: 'Shrikhand';
    font-weight: 200;
    font-size: 16px;
    height: 100%;
    z-index: 1;
}

section {
    background-color: $colour-white;
    color: black;
    font-family: 'Shrikhand';
    font-weight: 200;
    font-size: 16px;
    height: 150px;

}

footer {
    margin-top: 0;
    color: $colour-white;
    font-family:  "Shrikhand";
    //font-style:  oblique;
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    width: 100%;  
}

div {
   height: 100%;

}

h1 {
    font-family: 'Shrikhand';
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

textarea {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    font-size: .75rem;
    
}

ul {
    margin-top: 2%;
    display: block;
    flex-direction: column;
    padding: 0;
    height: 100%;
    list-style-type: none;
    margin-left: 5%;
    justify-content: space-around;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 14px;

}


a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 0;
}

h2{
    @include section-divs;
    font-size: 16px;
}
h3{
    padding-top: 3%;
    @include section-divs;
    color:whitesmoke;
    font-family: "Shrikhand";
    font-size: 20px;
    font-weight: 100;
}

p {
    font-family: 'Roboto';
    display: inline;

}
b {
    margin-left: 5%;
}

figure {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: smaller;
    position: relative;
    bottom: 10%;
    text-indent: 0;
    margin: 0 0 0 0;
    width: 96%;
    height: 100%;
}

  figcaption {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    height: 35%;
    width: 100%;
    text-align: left;
  }