body {
    background-color: $colour-white;
    color: $colour-gray;
    font-family: "Raleway script=all rev=1";
    font-weight: 200;
    font-size: 16px;
    height: 100%;
}

section {
    background-color: $colour-white;
    color: $colour-gray;
    font-family: "Raleway script=all rev=1";
    font-weight: 200;
    font-size: 16px;
    height: 150px;

}

footer {
    margin-top: 0;
    color: $colour-white;
    font-family: "Raleway script=all rev=1";
    font-weight: 200;
    font-size: 16px;
    height: 100%;
    width: 100%;  
}

div {
   height: 100%;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 0.65rem;
    
}

ul {
    margin-top: 2%;
    display: block;
    flex-direction: column;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    padding: 0;
    height: 100%;
    list-style-type: none;
    margin-left: 5%;
    justify-content: space-around;

}


a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 0;
}

h2{
    @include section-divs;
    color: black;
}
h3{
    @include section-divs;
    font-weight: normal;
    color: black;
  
}

p {
    display: inline;

}
b {
    margin-left: 5%;
}

figure {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    position: relative;
    bottom: 10%;
    text-indent: 0;
    margin: 0 0 0 0;
    width: 96%;
    height: 90%;
}

  figcaption {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $colour-white;
    height: 25%;
    width: 100%;
    text-align: left;
  }
  