@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}
@mixin small-images {
    width: 20px;
    height: 20px;
}

@mixin flex($content,$direction,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
    
}
@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin new-buttom {
        @include flex(center,row,center);
        font-size: 10px;
        position: relative;
      
}

@mixin btn ($width,$height) {
    width: $width;
    height: $height;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: none;
    color: $colour-white;
    background: linear-gradient(to top,$colour-primary 0%, $colour-secondary 100%);
    transition: all 400ms ease-in-out;
    &:hover{
        background: linear-gradient(to top,lighten($colour-primary, 5%) 0%, lighten($colour-secondary, 5%) 100%);
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.75);
    }
    &--full-width {
        width: 40%;
        margin: 0 auto;
    }
}
@mixin btn_full_menu($colour,$height,$width) {
    width: $width;
    height: $height;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    color: $colour-black;
    background: $colour;
    transition: all 400ms ease-in-out;
    &--full-width {
        width: 40%;
        margin: 0 auto;
    }
}

@mixin btnmenu($colour,$height,$width) {
    width: $width;
    height: $height;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    color: $colour-black;
    background: $colour;
    transition: all 400ms ease-in-out;
    i {
        transition: all 0.7s ease-in-out;
    }
    &:hover{
        background-color: #f5edff;
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        background: darken($colour-menu-buttom, 1%);
        i {
			color: $colour-number;
		}
        
    
    }
   
    &--full-width {
        width: 40%;
        margin: 0 auto;
    }
}



@mixin hearimg {
    margin: 3% 10% 0 0;
    display: block;
    position: absolute;
    left: 85%;
    //@include small-images();
    //content:url("../images/icons/heart-outline.svg");
   
    &--full-width {
        width: 40%;
        margin: 0 auto;
    }
}

@mixin section-divs {
    margin: 0 0 0 $margin-divs-left;

}
@mixin media-md {
    @media screen and (min-width: $tablet-width){
        @content;
    } 
    
    
}
@mixin media-lg {
    @media screen and (min-width: $desktop-width){
        @content;
    }
}
